<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>711890762173-0bt0lk0sqdp6eqral0r46rld4s8qq8ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711890762173-0bt0lk0sqdp6eqral0r46rld4s8qq8ph</string>
	<key>API_KEY</key>
	<string>AIzaSyBu2dNxjSLTphPWqcCeI4FgEMvY9dPTwkk</string>
	<key>GCM_SENDER_ID</key>
	<string>711890762173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Blackmagk-Limited-Liability-Company.Sitrep</string>
	<key>PROJECT_ID</key>
	<string>sitrep-b8337</string>
	<key>STORAGE_BUCKET</key>
	<string>sitrep-b8337.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711890762173:ios:30d92fd04e96c97c</string>
	<key>DATABASE_URL</key>
	<string>https://sitrep-b8337.firebaseio.com</string>
</dict>
</plist>